body{
    background-image: url(Images/image1.jpg);
    background-size:cover ;
    background-attachment: fixed;
    
}
fieldset{
    width: 500px;padding: 50px;
    background-color: #f5f5f5;
    margin-left: 400px;
    margin-top: 100px;
}
section{
    text-align: center;
    margin-top: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.A1{
    color: red;
}
abbr{
    text-decoration: none;
}
ul{
    font-size: 25px;
    list-style-type: none;
}
.AAA{
    margin-left: 700px;
    position: relative;
    bottom: 25px;
}
.AA1{
    position: relative;
    bottom:20px ;
    text-decoration: none;
 }
.B1{
    position: relative;
    bottom: 50px;
}
.centre{
    text-align: center;
}
.slider{
    position: relative;
    bottom: 50px;
}